@use "./variables.scss" as *;

// put your custom CSS here!
/* ============================================================
   Custom scientific-note popovers
   ============================================================ */

.popover-inner {
  .custom-popover-title-row {
  display: flex;
  align-items: baseline;
  gap: 0.75rem;
  flex-wrap: wrap;
  }

  .custom-popover-title {
  margin: 0;
  }

  .custom-popover-subtitle {
  font-size: 0.95rem;
  font-style: italic;
  opacity: 0.7;
  }

  .custom-popover-description,
  .custom-popover-observations {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;

    line-height: 1.5;
  }

  .custom-popover-description strong,
  .custom-popover-observations strong {
    font-weight: 600;
  }
}

// Syntax-verified HTML should always use the surrounding text color
sub,
sup {
  color: inherit !important;
}

// Change wikilinks color based on data type
a.internal-link{
  color: rgb(184, 143, 126) !important;
}
a.internal-link[data-slug^="v.-annexes/abréviations"] {
  color: rgb(156, 126, 184) !important;
}
a.internal-link[data-slug^="v.-annexes/notes-articles"] {
  color: rgb(110, 123, 179) !important;
}
a.internal-link[data-slug^="figure"] {
  color: rgb(112, 179, 110) !important;
}


// Resolve yellow-brown background !
a.internal-link {
  background: none;
  background-color: transparent;
}

.custom-popover-figure-title {
  margin-bottom: 1rem;
}

.custom-popover-figure-image {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto 1rem auto;
}

.custom-popover-figure-legend {
  margin-top: 0.5rem;
  font-style: italic;
  line-height: 1.4;
}

// Better images
.custom-figure-title {
  margin-bottom: 0.75rem;
}

.custom-figure-image {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto 0.75rem auto;
}

.custom-figure-legend {
  margin-top: 0.5rem;
  font-style: italic;
  line-height: 1.4;
}