@use "./variables.scss" as *;

// put your custom CSS here!
/* ============================================================
   Custom scientific-note popovers
   ============================================================ */

.popover-inner {
  .custom-popover-title-row {
  display: flex;
  align-items: baseline;
  gap: 0.75rem;
  flex-wrap: wrap;
  }

  .custom-popover-title {
  margin: 0;
  }

  .custom-popover-subtitle {
  font-size: 0.95rem;
  font-style: italic;
  opacity: 0.7;
  }

  .custom-popover-description,
  .custom-popover-observations {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;

    line-height: 1.5;
  }

  .custom-popover-description strong,
  .custom-popover-observations strong {
    font-weight: 600;
  }
}

// Change wikilinks color based on data type
a.internal-link[data-slug^="output/protéine/"] {
  color: rgb(124, 31, 179) !important;
}
a.internal-link[data-slug^="output/méthode/"] {
  color: rgb(14, 134, 60) !important;
}
a.internal-link[data-slug^="output/accronyme/"] {
  color: rgb(192, 114, 12) !important;
}

// Resolve yellow-brown background
a.internal[href*="./"] {
  background: none;
  background-color: transparent;
}